@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}
body {
    background-color: #000000;
    /* background-image: url('../public/multicolor-small.jpg');
    background-attachment: fixed;
    background-size: cover; */

}
@layer base {
    @font-face {
        font-family: mlp;
        font-weight: 400;
        src: url(./fonts/SpaceGrotesk-Medium.otf) format("woff");
    }
}